.info {
  background-color: #eddaff;
  text-align: center;
}

.title {
  font-size: 2rem;
  color: #333;
  padding-top: 2.5rem;
  margin-bottom: 2rem;
}

.titleLink {
  text-decoration: none;
  color: #292037;
}

@media (max-width: 360px) {
  .titleLink {
    font-size: 1.5rem;
  }
}
