.header {
  text-align: center;
  margin: 1rem 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #666;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  background-color: #f53f8a;
  color: #fff;
  border-radius: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #dc0b61;
}
