.cardList {
  background-color: #EDDAFF;
  padding: 1.5rem 0;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.status {
  font-size: 1rem;
  color: #666666;
  margin: 1.25rem 0;
}

.cardDisplay {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.featuresSlider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  padding: 0 1rem;
  max-width: 81.25rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .featuresSlider {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
  .cardDisplay {
    padding: 0 1rem;
    margin: 1rem 0;
  }
}
