.join {
  padding: 0;
  background-color: #292037;
}

.content {
  width: 90%;
  max-width: 79.25rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  background-color: #f53f8a;
  color: #fff;
  border-radius: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  width: auto;
  max-width: 10rem;
  transition: background-color 0.3s;
  text-align: center;
}

.button:hover {
  background-color: #dc0b61;
}

.image {
  width: 50%;
  border-radius: 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 1440px) {
  .title {
    font-size: 2rem;
  }
  .text {
    padding-top: 1.25rem;
  }
}

@media (max-width: 960px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
  }
  .image {
    width: 90%;
    margin-top: 1rem;
  }
  .button {
    margin: 0 auto;
  }
}
