.slider {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 2rem;
  color: #080305;
  margin-bottom: 1.25rem;
}

.text {
  font-size: 1rem;
  color: #707070;
  margin-bottom: 1.25rem;
  padding-bottom: 1rem;
  text-align: center;
}

.sliderArea {
  position: relative;
  width: 100%;
  max-width: 79.25rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .title,
  .text {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}
